  <main>   

        <div class="container">
         {{#if votantes.length}}
            <h1>Votantes de: {{votantes.[0].votantes.dirigente.nombre}} {{votantes.[0].votantes.dirigente.apellido}}</h1>
        {{/if}}
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre Completo</th>
                        <th>Cédula</th>
                        <th>Provincia</th>
                        <th>Sector</th>
                       
                    </tr>
                </thead>
               <tbody>
  {{#each votantes}}
    <tr> 
        <td>{{@index}}</td>
        <td>{{this.votantes.nombreCompleto}}</td>
        <td>{{this.votantes.cedula.value}}</td>
        <td>{{this.votantes.direccion.provincia}}</td>
        <td>{{this.votantes.direccion.sector}}</td>
    </tr>
    {{/each}}
</tbody>
            </table>
        </div>
    </main>