<table>
  <thead>
    <tr>
        <th>#</th>
      <th>Nombre Completo</th>
      <th>Cédula</th>
      <th>Número de Teléfono</th>
      <th>Provincia</th>
      <th>Sector</th>
      
    
   

    </tr>
  </thead>
  <tbody>
    {{#each votantes}}
      <tr>
        <td>{{@index}}</td>
        <td>{{nombreCompleto}}</td>
        <td>{{cedula.value}}</td>
        <td>{{numeroTelefono.value}}</td>
        <td>{{direccion.provincia}}</td>
        <td>{{direccion.sector}}</td>
   
       
  
       
        
      </tr>
    {{/each}}
  </tbody>
</table>