<table>
  <thead>
    <tr>
        <th>#</th>
      <th>Nombre Completo</th>
      <th>Cédula</th>
      <th>Número de Teléfono</th>
      <th>Provincia</th>
      <th>Sector</th>
      <th>Dirigente</th>
      
    
   

    </tr>
  </thead>
  <tbody>
    {{#each votantes}}
      <tr>
        <td>{{@index}}</td>
        <td>{{votantes.nombreCompleto}}</td>
        <td>{{votantes.cedula.value}}</td>
        <td>{{votantes.numeroTelefono.value}}</td>
        <td>{{votantes.direccion.provincia}}</td>
        <td>{{votantes.direccion.sector}}</td>
        <td>{{votantes.dirigente.nombre}}</td>
   
       
  
       
        
      </tr>
    {{/each}}
  </tbody>
</table>