<main>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h1 class="text-center fw-bold" style="color: #1A2238;">Lista de votantes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive text-center">
                <table class="table table-bordered table-striped mx-auto">
                    <thead>
                        <tr>
                         
                            <th>Nombre Completo</th>
                            <th>Cédula</th>
                            <th>Número de Teléfono</th>
                            <th>Provincia</th>
                            <th>Sector</th>
                     
                        </tr>
                    </thead>
                    <tbody>
                        {{#each votantes}}
                        <tr>
                          
                            <td>{{this.nombreCompleto}}</td>
                            <td>{{this.cedula.value}}</td>
                            <td>{{this.numeroTelefono.value}}</td>
                            <td>{{this.direccion.provincia}}</td>
                            <td>{{this.direccion.sector}}</td>
                        
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</main>