<main>
    <div class="container">
        <h1>Lista de coordinadores</h1>
        <table>
            <thead>
                <tr>
            
                    <th>Nombre</th>
                    <th>Cantidad de Votantes</th>
                    <th>Cédula</th>
                    <th>Número de Teléfono</th>
                    <th>Dirección</th>
                    <th>Casa Electoral</th>
                    <th>Acciones</th> 
                </tr>
            </thead>
            <tbody>
                {{#each coordinadores}}
         
                    <td>{{this.nombreCompleto}}</td>
                    <td>{{cantidadVotantes.value}}</td>
                    <td>{{this.cedula.value}}</td>
                    <td>{{this.numeroTelefono.value}}</td>
                    <td>{{this.direccion.provincia}}, {{this.direccion.sector}}</td>
                    <td>{{this.direccion.casaElectoral}}</td>
                    <td><a href="editar-coordinador/{{this.id}}?edit=true" class="btn btn-warning btn-sm">Edit</a></td> 
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>