<main>
    <div class="container">
        <h1>Lista de Dirigente</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre Completo del Dirigente</th>
                <th>Cédula del Dirigente</th>
                <th>Número de Teléfono del Dirigente</th>
                <th>Nombre Completo del SubCoordinador</th>
                <th>Action</th>
             
            
            
            </tr>
        </thead>
        <tbody>
            {{#each dirigentes}}
            <tr>
                <td>{{ nombreCompleto }}</td>
                <td>{{ cedula.value }}</td>
                <td>{{ numeroTelefono.value }}</td>
                <td>{{ subCoordinador.nombreCompleto }}</td>
                 <td><a href="/votos-Dirigente/{{this.id}}" class="btn btn-primary btn-sm">Votos</a></td>  
             
                
               
            </tr>
            {{/each}}
        </tbody>
    </table>
   </div>
</main>