<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre Completo del Dirigente</th>
                <th>Cédula del Dirigente</th>
                <th>Número de Teléfono del Dirigente</th>
                <th>Nombre Completo del Coordinador</th>
                <th>Cédula del SubCoordinador</th>
                <th>Número de Teléfono del SubCoordinador</th>
            
            </tr>
        </thead>
        <tbody>
            {{#each dirigentes}}
            <tr>
                <td>{{ nombreCompleto }}</td>
                <td>{{ cedula.value }}</td>
                <td>{{ numeroTelefono.value }}</td>
                <td>{{ subCoordinador.nombreCompleto }}</td>
                <td>{{ subCoordinador.cedula.value }}</td>
                <td>{{ subCoordinador.numeroTelefono.value }}</td>
               
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>