<main>
    <div class="container">
          <h1>Lista de Subcoordinadores</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Número de Teléfono</th>
                <th>Dirección</th>
                
                <th>Número de Teléfono del Coordinador</th>
                <th>Casa Electoral</th>
                <th>Cantidad Votos</th>
            </tr>
        </thead>
        <tbody>
            {{#each subCoordinadores}}
            <tr>
                <td>{{nombreCompleto}}</td>
                <td>{{cedula.value}}</td>
                <td>{{numeroTelefono.value}}</td>
                <td>{{direccion.provincia}}, {{direccion.sector}}, {{direccion.casaElectoral}}</td>
                <td>{{coordinador.numeroTelefono.value}}</td>
                <td>{{direccion.casaElectoral }}</td>
                 <td>{{cantidadVotantes.value}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
  </div>
</main>